h5{
    font-weight: bold;
}

.todo-lists-container {
    display: flex;
    gap: 2%;
    padding: 20px;
    border-radius: 5px;
    /*background-color: #b2b2b2;*/
    /*Scroll machenism*/
    overflow-x: auto;
    vertical-align: middle;
    max-width: max-content;
}

.todo-list-container {
    margin-top: 2%;
    display: inline-block;
    /*border: 1px solid #000000; */
    border-right: 2px solid #000000;
    /*border-radius: 5px;*/
    padding: 15px;
    min-width: fit-content;
}

.task-container {
    padding: 10px;
    width: auto;
    background-color: #C5CB6B;
    border-radius: 5px;
    margin-bottom: 2%;
}

.todo-date {
    font-style: italic;
    color: #ec0000;
}

.new-List {
    background-color: #28a745;
    width: auto;
}