@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization
@using Todo.Api.Dtos.ProjectDtos
@using Todo.Core.Entities

@*@attribute [Authorize]*@

<title>Projects</title>

<h1>My Projects</h1>

<div class="projects-container">
    @foreach (var project in Projects)
    {
        <div class="project" @onclick="() => NavigateToProject(project.Id)">
            <p class="project-name">@project.Name</p>
        </div>
    }
    @if(IsAddingProject){
        <div class="new-project">
            <input type="text" @bind="NewProjectName" placeholder="Project Name"/>
            <button @onclick="() => CreateProject()">Create Project</button>
            <button @onclick="() => IsAddingProject = false">Cancel</button>
        </div>
    } else {
        <button class="new-project" @onclick="() => ShowInputProject()">Create new project</button>
    }

</div>

@code {
    [Parameter]
    public bool IsAddingProject {get; set;} = false;
    private string NewProjectName = "";

    public List<ProjectDto> Projects { get; set; } = new()
    {
        new ProjectDto { Id = 0, Name = "Default" },
        new ProjectDto { Id = 1, Name = "Test" },
        new ProjectDto { Id = 2, Name = "CSharp Course" },
        new ProjectDto { Id = 3, Name = "Test 2" },
        new ProjectDto { Id = 4, Name = "Test 3" }
    };

    private void CreateProject(){
        if(string.IsNullOrEmpty(NewProjectName) || string.IsNullOrWhiteSpace(NewProjectName)){
            return;
        }
        Projects.Add(
            new ProjectDto {Id =6 ,Name = NewProjectName}
        );
        
        var createProjectDto = new CreateProjectDto();

        createProjectDto.Name = NewProjectName;

        /*
         * TODO: Use ProjectsController
         */
        
        NewProjectName = "";
        IsAddingProject = false;
        Console.WriteLine("Added a new project");
    }

    private string GetProjectLink(int projectId)
    {
        return $"/project/{projectId}";
    }
    
    private void NavigateToProject(int projectId)
    {
        Console.WriteLine($"Navigating to project {projectId}");
        NavigationManager.NavigateTo($"/project/{projectId}");
    }
    private void ShowInputProject(){
        IsAddingProject = true;
    }
}