@page "/Settings"

<PageTitle>Settings</PageTitle>

<h3>Settings</h3>

<div class="account-settings">
    <h4>Account</h4>
    <ul>
        <li><a href="#">Change username</a></li>
        <li><a href="#">Change Password</a></li>
        <li><a href="#">Delete Account</a></li>
    </ul>
</div>

<div class="settings-section">
    <h4>Title 2</h4>
    <ul>
        <li><a href="#">Something</a></li>
        <li><a href="#">Something</a></li>
        <li><a href="#">Something</a></li>
    </ul>
</div>

<div class="settings-section">
    <h4>Title 3</h4>
    <ul>
        <li><a href="#">Something</a></li>
        <li><a href="#">Something</a></li>
        <li><a href="#">Something</a></li>
    </ul>
</div>
