@page "/settings"

<div class="container">
  <div class="sidebar">
    <h2>Settings</h2>
    <ul>
      <li><a href="/settings/account">Account</a></li>
      <li><a href="/settings/appearance-and-theme">Appearance and theme</a></li>
      <li><a href="/settings/about-us">About us</a></li>
    </ul>
  </div>
  <div class="main-content">
    <div class="container">
    <div class="account">
        <h2>Account</h2>
        <div class="profile-image">
            <img src="#" alt="Profile Picture">
        </div>

        <input type="text" placeholder="Full Name" />
        <input type="text" placeholder="UserName" />
        <input type="email" placeholder="Email" />
    </div>
</div>

    <div class="container">
        <div class="appearance-and-theme">
            <h2>Appearance</h2>

            <h2>Theame</h2>
            <div style="width: 100px; 
                        height: 100px; 
                        background-color: white; 
                        cursor: pointer;">
            </div>
             <div style="width: 100px; 
                        height: 100px; 
                        background-color: black; 
                        cursor: pointer;">
            </div>

        </div>
    </div>
    <div class="container">
        <div class="about-us">
            <h2>About us</h2>
            <h3>blablablablabla</h3>

        </div>
    </div>
  </div>
</div>
