@page "/Settings"

<PageTitle>Settings</PageTitle>

<h3>Settings</h3>

<div class="accound-settings">
    <h4>Account</h4>
    <ul>
        <li>Change username</li>
        <li>Change Password</li>
        <li>Delete Account</li>
    </ul>
</div>

<div class="settings-section">
    <h4>Title 2</h4>
    <ul>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
    </ul>
</div>

<div class="settings-section">
    <h4>Title 3</h4>
    <ul>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
    </ul>
</div>
