.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007F;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1200;
}

/*when its visible*/
.page-overlay.visible {
    display: flex;
}

.share-container {
    background-color: white;
    border-radius: 8px;
    width: 20%;
    max-width: 45%;
    max-height: 90%;
    overflow-y: auto;
    padding: 1.2%;
    box-shadow: 0 2px 8px #00000019;
}

.share-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.2%;
}


/*Hover effects:*/
.project:hover{
    background-color: #05163D;
}