h2{
    margin-top: 5%;
    color: white;
}

p{
    color: white;
    text-align: center;
}

.form-label{
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#0C2364, #3A0647);
    width: 400px;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.text-field{
    
}

.auth-button {
    width: 100%;
    min-height: fit-content;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 5%;
    margin-bottom: 5%;
}