@page "/Account/RegisterConfirmation"
@using Todo.Web.Auth
@inject NavigationManager NavigationManager
@inject IAuthService AuthService

<PageTitle>Email Confirmation</PageTitle>

<div class="container">
    <h2>Email Confirmation Required</h2>
    <p>An email has been sent to your address with a confirmation link. Please check your email and click the link to activate your account.</p>
    <p>If you didn’t receive the email, click below to resend the confirmation email.</p>

    <button class="btn btn-primary" @onclick="ResendConfirmationEmail">Resend Email</button>

    @if (!string.IsNullOrWhiteSpace(Message))
    {
        <p class="text-success">@Message</p>
    }
</div>

@code {
    private string? Message { get; set; }

    private async Task ResendConfirmationEmail()
    {
        try
        {
            var email = AuthService.GetUserEmail();
            var result = await AuthService.ResendConfirmationEmailAsync(email);
            
            if (result.Succeeded)
            {
                Message = "Confirmation email has been resent.";
            }
            else
            {
                Message = result.Error;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            Message = "An error occurred while resending the email.";
        }
    }
}
